@import "tailwindcss";

* {
  font-family: "Courier New", monospace;
}

body {
  background-image: url("/background-ia.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/background-ia.webp");
  background-size: cover;
  background-position: center;
  filter: blur(12px);
  z-index: -1;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}
